.Container{
    display:flex;
    flex-direction: column;
}
.container-void{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-left: 5px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    height: 40px;
}
.list-empty{
    background-color: lightgray;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 10px;
}
.list-void{
    background-color: lightgray;
    border-radius: 5px;
    width: 30%;
    height: 20px;
}
.empty-text{
    color: grey;
    font-size: 20px;
    text-align: left;
    padding: 15px;
}
@media screen and (min-width: 996px){
    .Container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .aside-container{
        width: 50%;
    }
}